/* Ensure the container for the carousel is correctly positioned */
.featured-beats-container {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
}

/* Shadow effect on both sides */
.featured-beats-container::before,
.featured-beats-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  pointer-events: none; /* Ensure they don't interfere with clicks */
  z-index: 1; /* Place them behind the content */
}

.featured-beats-container::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.featured-beats-container::after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), transparent);
}

.marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: calc(100% * 2);
  animation: marquee 80s linear infinite;
}

.marquee-content > div {
  flex: 0 0 auto;
  width: 280px; /* Fixed width for mobile */
  max-width: 100%;
  margin-right: 1rem;
}

@media (min-width: 640px) {
  .marquee-content > div {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .featured-beats-container {
    padding: 0 2rem;
  }
  .marquee-content > div {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .marquee-content > div {
    width: 400px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left by half the container's width */
  }
}

/* Touch device optimizations */
@media (hover: none) {
  .group:active .play-button {
    opacity: 1;
  }
}

/* Play button styles */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10; /* Ensure the play button is above the image */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

/* Show play button on hover and touch */
.group:hover .play-button,
.group:active .play-button {
  opacity: 1;
}
