/* Ensure the container for the carousel is correctly positioned */
.featured-beats-container {
  position: relative;
  overflow: hidden;
}

/* Shadow effect on both sides */
.featured-beats-container::before,
.featured-beats-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  pointer-events: none; /* Ensure they don’t interfere with clicks */
  z-index: 1; /* Place them behind the content */
}

.featured-beats-container::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

.featured-beats-container::after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), transparent);
}

.marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: calc(100% * 2); /* Adjust based on the number of items to avoid snapping */
  animation: marquee 80s linear infinite;
}

.marquee-content > div {
  flex: 0 0 auto; /* Ensure items do not shrink */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left by half the container's width */
  }
}

/* Ensure the button is above the image and only the button is clickable for playing */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10; /* Ensure the play button is above the image */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

/* Show play button on hover */
.group:hover .play-button {
  opacity: 1;
}
