/* FilterSidebar.css */
.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

select {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjust padding to make space for the custom arrow */
    background-color: #102D40; /* Background color */
    color: #ffffff; /* Text color */
    border: 1px solid #0FC2C0; /* Border color */
    border-radius: 0.375rem; /* Rounded corners */
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */
}

select:focus {
    outline: none; /* Remove default focus outline */
}

.select-wrapper::after {
    content: '▼'; /* Custom dropdown arrow */
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust position as needed */
    transform: translateY(-50%);
    color: #0FC2C0; /* Arrow color */
    pointer-events: none;
}
