.sidebar {
    width: 16rem;
    background-color: #0D3140; /* New sidebar color */
    padding: 1rem;
    color: #ffffff;
}

.filter-group {
    margin-bottom: 1rem;
}

.filter-input {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent; /* Transparent background */
    border: 1px solid #56ACBF; /* Border color */
    border-radius: 0.25rem;
    color: #ffffff; /* Text color */
    margin-top: 0.5rem;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.filter-checkbox input {
    margin-right: 0.5rem;
}

.filter-checkbox label {
    margin: 0;
}

.price-slider {
    margin: 16px 0;
}

.thumb {
    background: #BF5B04;
    border-radius: 50%;
}

.track {
    background: #A7E4F2;
}

.slider-thumb {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #A7E4F2;
    border-radius: 5px;
    outline: none;
}

.slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #BF5B04;
    border-radius: 50%;
    cursor: pointer;
}

.slider-thumb::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #BF5B04;
    border-radius: 50%;
    cursor: pointer;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.875rem;
    color: #ffffff; /* Text color */
}

.font-be-vietnam {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Tag styles */
.tag-box {   
    font-size: 0.75rem;
    border: 1px solid #56ACBF; 
    border-radius: 9999px; 
  }
  
  .tag-box.bg-gray-200 {
    background-color: transparent;
    border: 1px solid #56ACBF; 
    color: white;
  }

/* SLIDER */
/* Slider track style */
.horizontal-slider {
  width: 100%;
  height: 8px;
  position: relative;
}


.example-thumb {
  height: 16px;
  width: 16px;
  background-color: #333; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff; /* Optional: White border around the thumb */
  z-index: 1;
  position: relative;
}

.sidebar {
    width: 250px; /* Reduced width */
    height: 50vh; /* Reduced height to 90% of the viewport height */
    padding: 1rem; /* Adjusted padding */
  }
  
  .filter-group {
    margin-bottom: 1rem; /* Reduced margin-bottom */
  }
  
  .tag-container {
    margin-bottom: 1rem; /* Reduced margin-bottom */
  }
  
  .price-values {
    margin-bottom: 1rem; /* Reduced margin-bottom */
  }
  